<div class="container">
    <div class="widget widget-nopad">
        <div class="widget-header"></i>
            <h3>Employees list</h3>
        </div>
        <div class="widget-content">
            <div class="widget big-stats-container">
                <div class="widget-content" >
                    <div class="col-xs-12 col-sm-12 ">
                        <div class="panel-body">
                            <div class="row">
                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table container">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Date of birth</th>
                                                <th>Phone</th>
                                                <th>Location</th>
                                                <th>Team</th>
                                                <th>Area</th>
                                                <th>Email</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="user in UsersList">
                                                <td>{{user.username}}</td>
                                                <td>{{user.dob}}</td>
                                                <td>{{user.phone}}</td>
                                                <td>{{user.location}}</td>
                                                <td>{{user.belong2Team}}</td>
                                                <td>{{user.userType}}</td>
                                                <td>{{user.email}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
