<div class="container">
    <!-- Search box -->
    <div class="span12">
        <center>
            <form class="navbar-form" role="search" style="border: 0px;">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-1">
                        <input ng-model="userSearchKey" type="text" placeholder="Search" name="ng-srch-term" id="ng-srch-term" ng-change="findUser(userSearchKey)">
                        <button ng-click="findUser(userSearchKey)" class="btn btn-success" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </center> 
    <!--Employees list table-->
    <div class="widget widget-nopad">
        <div class="widget-header"></i>
            <h3>Employees list</h3>
        </div>
        <div class="widget-content">
            <div class="widget big-stats-container">
                <div class="widget-content" >
                    <div class="col-xs-12 col-sm-12 ">
                        <div class="panel-body">
                            <div class="row">
                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table container">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Date of birth</th>
                                                <th>Phone</th>
                                                <th>Location</th>
                                                <th>Team</th>
                                                <th>Area</th>
                                                <th>Email</th>
                                            </tr>
                                        </thead>
                                        <!--All employees list-->
                                        <tbody ng-show="!userSearchKey">
                                            <tr ng-repeat="user in UsersList">
                                                <td>{{user.username}}</td>
                                                <td>{{user.dob}}</td>
                                                <td>{{user.phone}}</td>
                                                <td>{{user.location}}</td>
                                                <td>{{user.belong2Team}}</td>
                                                <td>{{user.userType}}</td>
                                                <td>{{user.email}}</td>
                                            </tr>
                                        </tbody>
                                        <!--Search result-->
                                        <tbody ng-show="userSearchKey">
                                            <tr ng-repeat="user in UsersListSearchResult">
                                                <td><font ng-bind-html="highlight(user.username, userSearchKey)"></font></td>
                                                <td>{{user.dob}}</td>
                                                <td>{{user.phone}}</td>
                                                <td>{{user.location}}</td>
                                                <td><font ng-bind-html="highlight(user.belong2Team, userSearchKey)"></td>
                                                <td><font ng-bind-html="highlight(user.userType, userSearchKey)"></td>
                                                <td>{{user.email}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
