<div class="container" ng-controller="courseRegisterCtrl">
    <!-- The whole page body is here, under those dash board navigation tools -->
    <div class="widget">
        <!--This is the tiny blue header bar with "all course" on it-->
        <div class="widget-header">
            <h3 class="col-xs-7 col-md-7">All Course</h3>
            <input ng-model="courseSearchKey" class="box-group col-xs-3 col-md-3" type="text" placeholder="Search Box Here" name="ng-srch-term"
                id="ng-srch-term" ng-change="findCourse(courseSearchKey,openingCourseFilter)">
                <div class="col-xs-2 col-md-2" uib-dropdown is-open="status.isopen">
                    <select class="box-group col-xs-12 col-md-12" ng-model="opt" ng-change="filtCourse()">
                        <option value="">--Filter--</option>
                        <option value="openingCourse">Opening</option>
                        <option value="allCourse">All</option>
                    </select>
                </div>
        </div>
        <!--These are all the content under the that tiny blue bar :)-->
        <div class="widget-content">
            <!--Here is the content of search return, show only when there is something in the search box-->
            <div ng-show="courseSearchKey">
                <div ng-repeat="trainingProgram in trainingProgramList" style="margin-top: 5px" ng-show="!(courseListSearchResult.length == 0 && courseSearchKey)">
                    <div class="round-wrap">
                        <a style="text-decoration : none">
                            <blockquote class="blockquote" style="border-left: none; margin-bottom:5px;">
                                <img style="float:left; clear:both; margin-right: 10px;" alt="training-program-icon" class="img-responsive" ng-src="{{trainingProgram.imgLink}}"
                                    width="70px">
                                    {{trainingProgram.name}}
                                    <p style="color:darkgrey; white-space: nowrap" ng-bind-html="trainingProgram.description" </p>
                                        <br/>
                                        <p style="visibility: hidden">Just to keep space</p>
                            </blockquote>
                        </a>
                    </div>
                    <div>
                        <ul class="list-group">
                            <li class="row" ng-repeat="course in courseListSearchResult" ng-hide="(!course.isOpening&&openingCourseFilter)||(course.trainingProgramId != trainingProgram.id)">
                                <div class="col-md-1"></div>
                                <div class="col-md-9 col-sm-8" style="border-left:2px solid{{course.buttonColor}};" class="row" style="padding-bottom:10px; margin-left: 90px;
                                 margin-right: 10px; border: 2px solid {{myCourse.backgroundColor}}; border-radius: 100px 5px 5px 100px; background-color: #f7f7f7;">

                                    <blockquote class="blockquote">
                                        <a ui-sref="courseDetail({courseId: course.id})">
                                            <img style="float:left; clear:both; margin-right:10px;" alt="course-icon" class="img-responsive" ng-src="{{course.imgLink}}"
                                                width="70px">
                                                <!--{{course.name}}-->
                                                <font ng-bind-html="highlight(course.name, courseSearchKey)"></font>
                                                <p style="visibility:hidden">Just to keep space</p>
                                                <p style="visibility:hidden">Just to keep space</p>
                                                <p style="color:darkgrey; white-space: nowrap" ng-bind-html="highlight(course.description, courseSearchKey)"></p>
                                        </a>
                                    </blockquote>
                                </div>
                                <div ng-hide="!course.isOpening&&openingCourseFilter" class="col-md-2 col-sm-4">
                                    <center>
                                        <div class="btn-group">
                                            <button ng-click="registerCourse(course.id,courseRegisterStatus)" style="background-color: {{course.buttonColor}}" class="btn Absolute-Center {{course.buttonColor}} "
                                                type="button" aria-haspopup="true" aria-expanded="true">
                                                {{course.buttonName}}<i aria-hidden="true"></i>
                                                </button>
                                        </div>
                                    </center>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <center ng-show="courseListSearchResult.length == 0 && courseSearchKey">
                    <h4>Could not find any course that matchs the keyword!</h4>
                </center>
            </div>
            <!--Here is the usual showed content when search box is empty-->
            <div ng-repeat="trainingProgram in trainingProgramList" style="margin-top: 5px" ng-show="!courseSearchKey">
                <div class="round-wrap">
                    <a data-toggle="collapse" data-target="#collapse{{trainingProgram.id}}" style="text-decoration : none" ng-click="trainingProgram.collapsed = !trainingProgram.collapsed">
                        <blockquote class="blockquote" style="border-left: none; margin-bottom:5px;">
                            <img style="float:left; clear:both; margin-right: 10px;" alt="training-program-icon" class="img-responsive" ng-src="{{trainingProgram.imgLink}}"
                                width="70px">
                                {{trainingProgram.name}}
                                <p style="color:darkgrey; white-space: nowrap" ng-bind-html="trainingProgram.description" </p>
                                    <br/>
                                    <center ng-hide="trainingProgram.collapsed"><span class="glyphicon glyphicon-menu-down"></span></center>
                                    <center ng-show="trainingProgram.collapsed"><span class="glyphicon glyphicon-menu-up"></span></center>
                        </blockquote>
                    </a>
                </div>
                <div id="collapse{{trainingProgram.id}}" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="row" ng-repeat="course in trainingProgram.Courses" ng-hide="!course.isOpening&&openingCourseFilter">
                            <div class="col-md-1"></div>
                            <div class="col-md-9 col-sm-8" style="border-left:2px solid{{course.buttonColor}};" class="row" style="padding-bottom:10px; margin-left: 90px; margin-right: 10px; border: 2px solid {{myCourse.backgroundColor}}; border-radius: 100px 5px 5px 100px; background-color: #f7f7f7;">

                                <blockquote class="blockquote">
                                    <a ui-sref="courseDetail({courseId: course.id})">
                                        <img style="float:left; clear:both; margin-right:10px;" alt="course-icon" class="img-responsive" ng-src="{{course.imgLink}}"
                                            width="70px">
                                            {{course.name}}
                                            <p class="crop" ng-bind-html="course.description" </p>
                                    </a>
                                </blockquote>
                            </div>
                            <div ng-hide="!course.isOpening&&openingCourseFilter" class="col-md-2 col-sm-4">
                                <center>
                                    <div class="btn-group">
                                        <button ng-click="registerCourse(course.id,courseRegisterStatus)" style="background-color: {{course.buttonColor}}" class="btn Absolute-Center {{course.buttonColor}} "
                                            type="button" aria-haspopup="true" aria-expanded="true">
                                            {{course.buttonName}}<i aria-hidden="true"></i>
                                            </button>
                                    </div>
                                </center>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>